<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
    </head>
    <body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<h1>Landing page underconstruction</h1>

<a href="/campgrounds">View all campgrounds</a>
</body>
</html>