<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        
    </head>
    <body>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<h1>Create a new campground</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input tyoe="text" name="image" placeholder="image url">
    <button>Submit</button>  

</form>
</body>
</html>