<%- include('partials/header') -%>

<div class="container">
    <div class="row">
<h1 style="text-align:center;">Create a new campground</h1>
<div style="width:30%; margin: 25px auto;">
<form action="/campgrounds" method="POST">
    <div class="form-group"><input type="text" class="form-control" name="name" placeholder="name"></div>
    <br>
    <div class="form-group"> <input type="text" name="image" class="form-control" placeholder="image url"></div>
    <br>
   <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Submit</button>  </div>
   <a href="/campgrounds">Go back</a>
</div>
    
</form>
</div>  
</div>>
</body>
</html>